venv/
*.pyc
*.swo
*.swp
messenger/helper_hw*
messenger/.idea
messenger/application/local_settings.py
messenger/application/__pycache__/
messenger/chats/__pycache__/
messenger/htmlcov/
messenger/users/__pycache__/
